<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/enter.css" rel="stylesheet"></link>
  <title>화상회의 입장하기</title>
</head>
<body>
  <div class="scene flex">
    <section class="card">
      <figure class="card__figure">
        <img class="card__image" src="https://picsum.photos/id/454/200/200" alt="A female hand holding a camera"/>
        <figcaption>
          <span class="visually-hidden">
            background
          </span>
        </figcaption>
      </figure>
      <h1 class="card__heading">
        <span class="visually-hidden">Account name:</span>
        <span>
          1:1 화상채팅
        </span>
      </h1>
      <div>
        <label for="room-id" class="visually-hidden">Password:</label>
        <input id="room-id" class="card__input" type="text" />
        <button class="card__button" id="make">
          <span>방 만들기</span>
        </button>
        <button class="card__button" id="enter" disabled>
          <span>입장하기</span>
        </button>
      </dif>
    </section>
  </div>
  <script src="/javascripts/enter.js" ></script>
</body>
</html>